/* styles.css */

body {
    font-family: Arial, sans-serif;
    background: url('./background/1.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4caf4f13;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #4caf4f1f;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f256;
}

footer {
    background-color: #4caf4f1f;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer h5 {
    margin: 0;
}
